* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

.logo {
  height: 70px;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.header-group {
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
}

.nav-list {
  margin: 0 30px;
  line-height: 70px;
  list-style: none;
  font-size: 16px;
}

.nav-list a{
  color: #FAFAFA;
}

#mv{
  width: 100%;
  height: 650px;
  text-align: center;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.mv-title{
  padding-top: 200px;
  margin: 0 auto;
  font-size: 64px;
  color: #FAFAFA;
}

.mv-text{
  padding-top: 10px;
  margin: 0 auto;
  font-size: 20px;
  color: #FAFAFA;
}

#portfolio{
  width: 100%;
  background-color: #ECEFF1;
}

.heading{
  padding-top: 90px;
  font-size: 32px;
  color: black;
  text-align: center;
}

.heading::after{
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0;
  background-color: #ec715f;
}

.heading-text{
  font-size: 16px;
  color: black;
  padding-top: 30px;
  text-align: center;
}

.detail-container{
  padding-top: 30px;
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.img-box{
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.img-box:nth-child(1){
  background-image: url(img/sketch.jpg);
  margin: 0 10px 10px 0;
}

.img-box:nth-child(2){
  background-image: url(img/websuku.png);
  margin: 0 10px 10px 0;
}

.img-box:nth-child(3){
  background-image: url(img/write.jpg);
}

.img-box:nth-child(4){
  background-image: url(img/webcamp.png);
  margin-right: 10px;
}

.img-box:nth-child(5){
  background-image: url(img/talk.jpg);
  margin-right: 10px;
}

.img-box:nth-child(6){
  background-image: url(img/webcamp-mother.png);
}

.strength-box{
  width: 320px;
  margin-right: 10px;
  text-align: center;
}

.strength-box:nth-child(3){
  margin-right: 0;
}

.fab,.fas{
  font-size: 60px;
}

h3{
  font-size: 20px;
  padding-top: 10px;
  color: black;
}

.strength-text{
  text-align: left;
  font-size: 16px;
  color: black;
  padding-top: 10px;
}

#profile{
  background-color: #ECEFF1;
}

.profile-img-box{
  width: 512px;
  display: flex;
  justify-content: center;
}

.profile-img{
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.left-box, .right-box{
  width: 400px;
  text-align: center;
}

.description-title{
  padding-bottom: 5px;
}

.description{
  padding-bottom: 20px;
  font-size: 16px;
}

.right-box .fa{
  font-size: 60px;
}

.fa-twitter-square{
  margin: 0 20px;
}

footer{
  width: 100%;
  height: 60px;
  background-color: #ec715f;
}

.copyright{
  font-size: 16px;
  color: #FAFAFA;
  text-align: center;
  line-height: 60px;
}